.deletebox div:nth-child(even) {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.deletebox div:hover {
  background-color: rgb(185, 185, 185);
  color: white;
}

.infotext:hover {
  color: white !important;
}

.deletetext:hover {
  color: white !important;
}

.infotext:active {
  color: black !important;
}

.deletetext:active {
  color: black !important;
}

form:hover {
  background-color: white !important;
}

.navbar {
  position: relative;
  z-index: 1040;
}
